<launch>

  <rosparam file="$(find autoarm_gazebo)/config/joint_position_controllers.yaml" command="load"/>

  <node name="joint_position_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
	output="screen"
        ns="/autoarm"
        args="joint1_position_controller
	      joint2_position_controller
	      joint3_position_controller
	      joint4_position_controller
	      joint5_position_controller
	      joint6_position_controller
	      joint7_position_controller"/>

</launch>
