<launch>

  <include file="$(find autoarm_gazebo)/launch/autoarm_in_empty_world.launch" />

  <include file="$(find autoarm_gazebo)/launch/autoarm_joint_state_controllers.launch" />

  <include file="$(find autoarm_gazebo)/launch/autoarm_joint_trajectory_controllers.launch" />

  <node name="joint_state_muxer"
        pkg="autoarm_moveit"
        type="joint_state_muxer"
        output="screen">
    <rosparam param="source_list">[/autoarm/joint_states]</rosparam>
  </node> 

  <include file="$(find autoarm_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find autoarm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
